Plugins>Magnify Segmentation, "Apply segmentation model", com.leo.magnifyseg.MagnifySeg_Plugin

Plugins>Magnify Segmentation>Compute GBM thickness, "GBM – Full image", com.leo.magnifyseg.MagnifySeg_Plugin("thickness_full")
Plugins>Magnify Segmentation>Compute GBM thickness, "GBM – ROI",        com.leo.magnifyseg.MagnifySeg_Plugin("thickness_roi")

Plugins>Magnify Segmentation>Compute process distance, "Process – Full image", com.leo.magnifyseg.MagnifySeg_Plugin("proc_full")
Plugins>Magnify Segmentation>Compute process distance, "Process – ROI",        com.leo.magnifyseg.MagnifySeg_Plugin("proc_roi")

Plugins>Magnify Segmentation, "Settings", com.leo.magnifyseg.MagnifySeg_Plugin("settings")
