Plugins>HistoMagnify, "Apply segmentation model (HistoMagnify)", com.leo.histomagnify.HistoMagnify_Plugin

Plugins>HistoMagnify>HistoMagnify 40X>Compute GBM thickness, "Full image (GBM)", com.leo.histomagnify.HistoMagnify_Plugin("thickness_full")
Plugins>HistoMagnify>HistoMagnify 40X>Compute GBM thickness, "ROI (GBM)",        com.leo.histomagnify.HistoMagnify_Plugin("thickness_roi")

Plugins>HistoMagnify>HistoMagnify 40X>Compute process distance, "Full image (Process)", com.leo.histomagnify.HistoMagnify_Plugin("proc_full")
Plugins>HistoMagnify>HistoMagnify 40X>Compute process distance, "ROI (Process)",        com.leo.histomagnify.HistoMagnify_Plugin("proc_roi")

Plugins>HistoMagnify>HistoMagnify 20X>Count Nuclei, "Full image (Nuclei)", com.leo.histomagnify.HistoMagnify_Plugin("nuc_full")
Plugins>HistoMagnify>HistoMagnify 20X>Count Nuclei, "ROI (Nuclei)",        com.leo.histomagnify.HistoMagnify_Plugin("nuc_roi")

Plugins>HistoMagnify>HistoMagnify 20X>Count RBCs, "Full image (RBC)", com.leo.histomagnify.HistoMagnify_Plugin("rbc_full")
Plugins>HistoMagnify>HistoMagnify 20X>Count RBCs, "ROI (RBC)",        com.leo.histomagnify.HistoMagnify_Plugin("rbc_roi")

Plugins>HistoMagnify, "Settings (HistoMagnify)", com.leo.histomagnify.HistoMagnify_Plugin("settings")
